
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

@font-face {
  font-family: 'BluePrinted';
  src: url('fonts/BluePrinted.ttf') format('truetype');
}

@font-face {
  font-family: 'TWKEverett';
  src: url('fonts/TWKEverett/TWKEverett-Regular.otf') format('opentype');
}

@keyframes fadeInSlide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hides any accidental overflow */
  /* background-image: url('Home Page.png'); */
  /* background-size: 100% 100%; */
  background-color: #0d0d0d;
  transition: background-color 0.3s ease;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

/* === HEADING Styling */
.heading {
  position: absolute;
  top: 50px;
  left: 40px;
}

.profile-container {
  color: #ffffff
}

.profile-container > .name {
  font-family: 'BluePrinted';
  font-size: 32pt;
  font-weight: lighter;
  margin-bottom: 0px;
}

.profile-container > .title {
  font-family: 'TWKEverett';
  font-size: 11pt;
  margin-top: -5px;
}

.title > span {
  font-family: 'TWKEverett';
  color: #91081f;
  font-size: 12pt;
}

/* === Navigation Styling */
.nav-container {
  font-family: 'TWKEverett';
  font-size: 10pt;
}

.nav-container {
  grid-area: nav-container;
  position: relative;
  font-family: 'TWKEverett';
  font-size: 10pt;
  display: flex;
  color: #ffffff;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 10;
  padding-top: 40px;
}

.nav-container > ul > li {
  list-style: none;
}

.nav-menu > li > a {
  color: #ffffff;
  text-decoration: none;
}

.nav-menu a {
  color: #ffffff;
  text-decoration: none;
}

.nav-menu > li > a:hover {
  color: #91081f;
  /* font-size: 13pt;
  font-weight: bold; */
}

.nav-menu li.active > a {
  color: #91081f;
}


/* === Preloader Container === */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

/* === Preloader Text Styling === */
.preloader-text {
  font-size: 2.5vw;
  font-weight: bold;
  font-family: 'TWKEverett';
  color: white;
  text-shadow: 0 0 10px #91081f, 0 0 20px #91081f;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInSlide 1s ease forwards;
}

/* === background-Container Styling */
.background-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  z-index: -1;

  background-image: url('sources/scanline.png');
  background-repeat: repeat;
  background-size: 10px;
}

/* === Main Container Styling */
.main-container {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr 2.5fr;
  height: 100%;
  width: 100%;

  grid-template-areas: 
  "blank left right"
}

/* === Section Styling */
.section {
  opacity: 0;
  display: none;
  color: #ffffff;
  pointer-events: none;
  
  transform: translateX(100px);
  opacity: 0;
  transition: all 0.6s ease-out;
}

.active-section {
  display: block;
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

/* === Work Section */
.works-container {
  position: relative;
  grid-area: right;
  background-color: #0d0d0d;
  border-left: #e6e6e6 1px solid;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content:end;
  align-items: center;
}

.work-placeholder {
  position: relative;
  width: 75%;
  aspect-ratio: 1 / .80;
  border: 1px solid #e6e6e6;

  background-image: url('sources/scanline.png');
  background-repeat: repeat;
  background-size: 10px;
  margin-right: 7.5%;

  transform: perspective(800px) rotateY(-15deg);
  transition: transform 0.3s ease;
}

/* === Image Container Styling */
.image-container {
  grid-area: left;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #ffffff;
  z-index: 100;

  height: 100%;
  overflow-y: auto;
}

.image-container::-webkit-scrollbar {
  display: none;
}

.image-container ul li {
  list-style: none;
}

.image-card img {
  width: 180px;
  height: auto;
  object-fit: cover;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 5px #000;
}

.image-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  justify-content: end;
  align-items: end;
  
  margin-bottom: 65px;
}

.image-row {
  display: flex;
  justify-content: end;
  align-items: start;
}

/* === Tagline Styling */
.tagline {
  font-family: 'TWKEverett';
  font-style: italic;
  position: absolute;
  left: 35px;
  bottom: 50px;

  font-size: 9pt;
  color: #ffffff;
}

.tagline > div {
  padding: 5px
}

.tagline span {
  color: #91081f;
}
/* === Clock Style === */
.clock-container {
  position: absolute;
  top: 15px;
  right: 18px;
  z-index: 10;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  text-align: right;
}

.clock-container .clock {
  display: flex;
  align-items: center;
}

.clock-container li {
  display: inline;
  list-style: none;
}

#Date {
  font-size: 18px;
  margin-right: 20px;
  font-style: italic;
}

.clock > li {
  list-style: none;
  display: flex;
  font-size: 18px;
  font-weight: bold;
}

.clock > .sec {
  margin-right: 50px;
}

.clock > .time-zone {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

.clock > .ampm {
  position: absolute;
  top: 0px;
  right: 30px;
  font-size: 12px;
  text-align: right;
}